body {
background: green;
background-image: url(naruto.jpg);
margin: auto;


}



#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 70px;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;


}

.primeiro  {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;


}

.segundo {
    color: red;
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    text-align: center;

}

.segundo {
    font-size: 16;
    font-style: italic;
}

.terceiro {
    background: #fff;
    padding: 100px 100px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_coment {

margin: 0;
margin-bottom: 15;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
margin: auto;
text-align: justify;

}

.post_margem {

    margin-bottom: 15px;
    border-radius: 5px;
    width: 1200px;

    

}

.email {
font-size: 20px;
color: rgb(255, 0, 170);
}
.linkedin {
    font-size: 20px;
    color: rgb(255, 0, 170);
}
.youtube {
    font-size: 20px;
    color: rgb(255, 0, 170);
}
 
.link_naruto {

color: rgb(255, 0, 170);

}
.link_email_naruto {

    color: rgb(255, 0, 170);


}

.lista {
list-style-type: none;
padding-left: 0;

}